.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: rgb(30,30,47);
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon-bar {
  height: 1px;
  width: 22px;
  background-color: white;
  margin: 7px 50px;
}

.menu-icon-bar-short {
  height: 1px;
  width: 17px;
  background-color: white;
  margin: 7px 50px;
}

.nav-to {
  color: white;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 3px 50px;
  border-radius: 5px;
  background-color: white;
}