* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(30,30,47);
  margin: 0;
}

.login-btn {
  display: block;
  width: 100px;
  height: 25px;
  margin: auto;
}

.demo-user {
  display: block;
  color: white;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.choose-demo-user-ctn {
  color: white;
  
}

.choose-demo-user {
  cursor: pointer;
  padding: 0;
}

.desktop-header {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  
  
}

.maintrue {
  transition: all .5s;
  
}

.mainfalse {
  margin-left: -20px;
}

.outer {
  display: flex;
  flex-direction: row;
  
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: rgb(30,30,47);
  margin: 0;
}

.left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon {
  position: relative;
  margin: 0px;
}


.menu-icon-bar {
  height: 1px;
  width: 22px;
  background-color: white;
  margin: 7px 50px;
}

.menu-icon-bar-one-true {
  transform: rotate(225deg);
  position: absolute;
  top: -8px;
  left: -30px;
  transition: all .5s;
}

.menu-icon-bar-two-true {
  transform: rotate(-225deg);
  position: absolute;
  top: -8px;
  left: -30px;
  transition: all .5s;
}

.menu-icon-bar-short-true {
  width: 0;
  display: none;
  transition: all .5s;
}

.menu-icon-bar-two-false, .menu-icon-bar-one-false {
  transition: all .5s;

}

.menu-icon-bar-short {
  height: 1px;
  width: 17px;
  background-color: white;
  margin: 7px 50px;
}

.nav-to-true {
  margin-left: 90px;
}

.nav-to {
  color: white;
  
}

.right-header {
  display: flex;
  align-items: center;
}

.profile-picture {
  height: 35px;
  border-radius: 35px;
  margin-right: 40px;
}

.dot {
  height: 4px;
  width: 4px;
  margin: 3px 50px;
  border-radius: 5px;
  background-color: white;
}

@keyframes slidein {
  from {
    right: 100%
  }

  to {
    right: 0;
  }
}

.true {
  animation: slidein .5s;
  transition: all .5s;
  width: 260px;
}

.false {
  
  animation: slidein .5s reverse;
  transition: all .5s;
  width: 0;
  transform: translate(-260px);
}

.nav-ctn {
  height: 100vh;
}



.nav-bar {
  position: relative;
  height: 100%;
  background-image: linear-gradient(rgb(75,139,248),rgb(63,88,244));
  padding: 10px;
  
}

.nav-bar-wrapper {
  margin: 0 20px;
}

.account {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}

.account-picture, .nav-icon {
  margin-right: 10px;
}

.account-picture {
  height: 30px;
  border-radius: 30px;
}

.account-name {
  color: white;
  font-size: 15px;
}

.underline {
  height: 1px;
  background-color: white;
  margin: 7px;
}

.nav-link {
  display: flex;
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
}

.nav-name {
  color: white;
}

.nav-icon {
  height: 30px;
}

.dashboard {
  background-color: rgb(30,30,47);
  height: 100%;
  margin: 0;
  margin-top: -10px;
  padding: 0;
}

.ticket-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 300px;
  margin: 15px 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(38,41,61);
}

.priority-ticket {
  width: 15%;
  background-color: red;
}

@media only screen and (min-width: 992px) {

  .mainfalse {
    margin: 0;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 40px;
    
  }

  .nav-ctn {
    margin-top: 60px;
    position: fixed;
    height: 100%;
    margin-bottom: 50px;
  }

  .nav-bar {
    width: 260px;
    height: 90vh;
    position: relative;
    margin: 10px 30px;
    transform: translate(0);
    border-radius: 5px;
    
    overflow: scroll;
  }

  .ticket-filter {
    
    height: 400px;
    margin: 20px;
    flex-basis: 44%;
  }

  

  .header {
    display: none;
  }

  .desktop-header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-to {
    position: fixed;
    margin-left: 60px;
    margin-top: -5px;
  }

  .true, .false {
    transition: none;
    animation: none;
  }

}